# Credenciais LiveKit Cloud
LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=your-livekit-api-secret

# Google Gemini API
GOOGLE_API_KEY=your-google-api-key

# Para gerar um App Password: https://myaccount.google.com/apppasswords
GMAIL_USER=seuemail@gmail.com
GMAIL_APP_PASSWORD="sua senha gerada no google account"
